<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"/>
    <title>Informatics Club</title>
    <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
</head>
<body>

<th:block th:replace="~{/fragments/nav}"/>

<!-- Calendar -->
<div class="row">
    <div class="m-auto" style="width: 50%;">
        <div data-tockify-component="mini" data-tockify-calendar="angel.tashev"></div>
    </div>
    <!--        <h1>Events</h1>-->
</div>


<th:block th:include="~{/fragments/footer}"/>
</body>
</html>
