<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"/>
    <title>Informatics Club</title>
    <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
</head>
<body>

<th:block th:replace="~{/fragments/nav}"/>
<div th:object="${userHomeView}">
    <h1 class="m-lg-5 text-center">Hello, <span th:text="*{fullName}"></span></h1>


    <!-- Calendar and assignments -->
    <div class="row m-5">
        <div class="m-auto" style="width: 45%;">
            <div data-tockify-component="mini" data-tockify-calendar="angel.tashev"></div>
        </div>
        <div class="ml-auto mr-auto" style="width: 45%; border: #ffc61d 2px solid">
            <h3 class="m-4">Assignments pending</h3>
        </div>
        <!--        <h1>Events</h1>-->
    </div>
</div>


<th:block th:include="~{/fragments/footer}"/>
</body>
</html>
