<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{/fragments/head}"></head>
<body>

    <th:block th:include="~{/fragments/nav}"/>

    <!-- Header - set the background image for the header in the line below
    -->
    <header class="text-center py-5 bg-image-ful">
      <!-- <img class="imagee" src="../img/informatics-banner.jpg"> -->
        <!-- <img class="img-fluid d-block mx-auto" src="img/logo.png" style="width:
        200px; margin: 100px" alt="Informatics logo"> -->
        <!-- <div class="masthead-content"> -->
        <!-- <div class="container"> -->
        <!-- <h1 class="masthead-heading mb-0">Informatics Coding Club</h1> -->
        <!-- <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2> -->
        <!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
        <!-- </div> -->
        <!-- </div> -->
    </header>
    <!-- Content section -->
    <div class="card-deck" style="padding: 30px; align: center;">
      <div class="col-sm-2">
        <div class="card text-center">
          <img class="card-img-top" src="../img/informatics-people.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Informatics certificate ceremony</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top" src="../img/informatics-people.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Informatics certificate ceremony</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top" src="../img/informatics-people.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Informatics certificate ceremony</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <section class="py-5">
        <div class="container">
             <h1>Informatics coding club</h1>
            <p class="lead"><i>Everything happens with you working.</i>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
                rerum quos facilis repellat architecto commodi officia atque nemo facere
                eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
             <h1>Our goal</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
                rerum quos facilis repellat architecto commodi officia atque nemo facere
                eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
             <h1>Achievements</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
                rerum quos facilis repellat architecto commodi officia atque nemo facere
                eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
             <h1>The team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
                rerum quos facilis repellat architecto commodi officia atque nemo facere
                eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
             <h1>More about us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit,
                rerum quos facilis repellat architecto commodi officia atque nemo facere
                eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>
    <div class="card" style="width: 18rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
        xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image cap"
        preserveaspectratio="xMidYMid slice" role="img">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96" />
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
             <h5 class="card-title">Card title</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the
                card&
            </p>
        </div>
    </div>
</body>
</html>
