<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RootAdminPanel</title>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body style="background-color: black; height: 800px;">
<th:block th:include="~{/fragments/nav}"/>

<div class="row p-2 w-100 h-100">

    <!-- Admins table -->
    <div class="table-responsive rounded col-md-6" style="border: white solid thin;">
        <h1 style="color: white;">All users</h1>
        <table class="table table-striped" style="color: white">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full name</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a href="">Demote to student</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><a href="">Demote to student</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><a href="">Demote to student</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Users table -->
    <div class="table-responsive rounded col-md-6" style="border: white solid thin;">
        <h1 style="color: white;">All users</h1>
        <table class="table table-striped" style="color: white">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full name</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a href="">Promote to admin</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><a href="">Promote to admin</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><a href="">Promote to admin</a></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--    <div class="col w-50 h-100 p-4 m-2 rounded" style="background-color: white">-->
<!--        <h1>All admins</h1>-->
<!--        <div class="row w-100 h-100 m-1 p-5 rounded" style="background-color: black">-->
<!--            <h3 style="color: white">Admin (admin) demote to student</h3>-->
<!--            <table>-->
<!--                <thead>-->
<!--                    <h3 style="color: white">Pesho Ivanov (pesho_ivanov.2020)</h3>-->
<!--                </thead>-->
<!--                <tr style="text-align: end">-->
<!--                    <a href="">demote to student</a>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col w-50 h-100 p-4 m-2 rounded" style="background-color: white">-->
<!--        <h1>All students</h1>-->
<!--        <div class="row w-100 h-100 m-1 p-5 rounded" style="background-color: black">-->
<!--            <h3 style="color: white">Admin (admin) demote to student</h3>-->
<!--            <h3 style="color: white">Pesho Ivanov (pesho_ivanov.2020) demote to student</h3>-->
<!--        </div>-->
<!--    </div>-->
</div>

</body>
</html>