<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All students - Async</title>
    <th:block th:include="~{fragments/head}"></th:block>
    <script th:src="@{/js/root/students-details.js}"></script>
</head>
<body style="background-color: black; height: 800px;">
<th:block th:include="~{fragments/nav}"/>

<div class="row p-2 w-100 h-100 d-flex justify-content-center">

    <!-- Admins table -->
    <div class="table-responsive rounded col-md-11" style="border: white solid thin;">
        <h1 style="color: white;">All students</h1>
        <table class="table table-striped" style="color: white">
            <thead>
            <tr>
                <th scope="col">Full name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Points</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="all-students"></tbody>
        </table>
    </div>
</div>

</body>
</html>