<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <title>My profile</title>
    <th:block th:include="~{/fragments/head}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
</head>
<body>
<th:block th:include="~{/fragments/nav}"/>
<div th:object="${userView}" class="container">
    <div class="row">
        <div class="profile-header-container">
            <div class="profile-header-img">
                <img th:if="*{profilePictureString == ''}" class="rounded-circle" th:src="@{/img/default-pic.png}" />
                <img th:unless="*{profilePictureString == ''}" class="rounded-circle" th:src="*{'data:image/jpg;base64,'+ profilePictureString}" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label" th:text="${#strings.capitalize(userView.authority)}">authority</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <h1 th:text="|*{fullName}|">Full name</h1><h1 th:text="|: (*{username})|">Username</h1>
    </div>
    <div class="row m-1">
        <h5 th:unless="*{phrase == null}" th:text="*{phrase}" class="font-italic">Phrase</h5>
    </div>
    <div class="row m-1 mt-0">
        <button class="btn btn-info"><a style="color: white" href="/users/login">Edit profile</a></button>
    </div>

    <form th:action="@{/users/upload-picture}" th:method="POST" enctype="multipart/form-data" style="margin-left: 300px; margin-top: 100px;">
        <input type="file" id="file" name="file">
        <input type="submit">
    </form>
</div>
</body>
</html>