@font-face {
	font-family: exo;
	src: url('../fonts/Exo2-VariableFont_wght.ttf');
}

body {
	padding-top: 55px;
}

.py-5 {
	padding-top: 0px!important;
}

.nav-item {
	font-family: exo;
	font-weight: 300;
}

.navbar-brand {
	font-family: exo;
	font-weight: 600;
}

.lead {
	font-family: exo;
	font-weight: 400;
	font-style: italic;
}

h1 {
	font-family: exo;
	font-weight: 600;
}

h2 {
	font-family: exo;
}

h3 {
	font-family: exo;
}

h4 {
	font-family: exo;
}

h5 {
	font-family: exo;
}

h6 {
	font-family: exo;
}

a {
	font-family: exo;
}

.fixed-top {
	background-color: rgba(60, 60, 60, 1);
	height: 55px;
	font-size: 17px;
	transition: background-color 1s, height 1s, font-size 1s;
}

.fixed-top.opaque {
	background-color: rgba(30, 30, 30, 0.87);
	height: 50px;
	font-size: 15px;
	transition: background-color 1s, height 1s, font-size 1s;
}

.imagee {
	repeat: no-repeat;
}

.masthead-heading {
	/* font-size: 8em; */
	/* -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}

.dropdown-menu {
	background-color: rgba(60, 60, 60 ,1);
}

.collapse {
	background-color: rgba(60, 60, 60 ,1);
}

.navbar-brand {
	font-size: 18px;
}

.card {
	width: 18em;
}

.footer-title{
	color: #F29F05;
}

.footer-content {
	color: #FFF;
}
