<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${assignmentView.name}">Assignment</title>
    <link rel="stylesheet" th:href="@{/css/assignment.css}"/>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<th:block th:include="~{fragments/nav}"/>

<div class="w-100">
    <h1 class="assignment-title m-4 text-center" th:text="${assignmentView.name}"></h1>
    <div class="container m-3 mt-5 align-content-center rounded assignment-container">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="assignment-description-container rounded p-3 m-3">
                        <h3 class="m-4" style="color: white">Description</h3>
                        <div class="rounded overflow-auto assignment-description m-4">
                            <p class="m-auto p-2" th:text="${assignmentView.description}"></p>
                        </div>
                    </div>
                </div>
                <div class="col m-4 text-left">
                    <h3 class="assignment-date rounded p-2">Date due: <span th:text="${assignmentView.dueDate}"></span></h3>

                    <div class="row mt-3 ml-1">
                        <div th:if="${assignmentView.resources != null}">
                            <!-- TODO Make resource downloadable, fix this href (id) -->
                            <a class="resource-link mt-4" th:href="@{/files/resources/download/{id}(id=${assignmentView.resources.id})}">Resources</a>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <h3 class="col">Status:
                            <span th:if="${assignmentView.submission == null}">Not submitted!</span>
                            <span th:unless="${assignmentView.submission == null}">Submitted!</span>
                        </h3>
                        <img th:if="${assignmentView.submission == null}" class="col" th:src="@{/img/not-submitted.png}" style="max-width: 8%; height: auto">
                        <img th:unless="${assignmentView.submission == null}" class="col" th:src="@{/img/submitted.png}" style="max-width: 8%; height: auto">
                    </div>

                    <div class="row mt-4">
                        <h3 class="col">Points:
                            <span th:if="${assignmentView.points == null}">No points yet!</span>
                            <span th:unless="${assignmentView.points == null}" th:text="${assignmentView.points}"></span>
                        </h3>
                    </div>



                    <div th:if="${assignmentView.enabled == true}" class="row align-content-end p-3">
                        <div>
                            <form th:action="@{/users/my-profile/assignments/{id}(id=${assignmentView.id})}" enctype="multipart/form-data" th:method="POST" class="m-3">
                                <div class="row">
                                    <label for="submission" style="font-size: 24px;">Submit your work here</label>
                                </div>
                                <div class="row">
                                    <input class="mt-3" style="color: #0c5460" type="file" id="submission" name="submission ">
                                    <button class="rounded submit-button">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>